.big  {
  background-color: black;
  color: red;
  text-align:left;
  border-left: 200px solid red;
  border-right: 200px solid red;
}
.pic1 {
  align-items: left;
  width: auto;
  margin: 20px solid green; 
}
.big p  {
  color: green;
  font-style: italic;
}
.big h2 {
  color: blue;
  font-size: large;
  font-size: large;
}
.bod4 {
  text-align: left;
  float: left;
  color: blue;
  background-color: yellow;
}
