.big  {
  background-color: black;
  color: red;
  text-align:center;
  border-left: 200px solid red;
  border-right: 200px solid red;
}
.pic1 {
  align-items: center;
  width: auto; 
}
.big p  {
  color: green;
  font-style: italic;
}
.big h2 {
  color: white;
  font-size: large;
}
